@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model my_movies.ViewModels.UserModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "_Layout";
}


    <form class="formContainer" asp-controller="Auth" asp-action="SignIn">
        <input placeholder="Username" asp-for="Username" class="form-control" />
        <input placeholder="Password" asp-for="Password" class="form-control" />
        <br />
        <span asp-validation-for="Username" class="text-danger"></span>
        <br />
        <input class="btn btn-dark text-light" value="Sign in" type="submit">
    </form>

