@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model my_movies.ViewModels.UserModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "_Layout";
}

<h1>Sign In</h1>

<form class="formContainer" asp-controller="Auth" asp-action="SignIn">
    <input placeholder="Username" asp-for="Username" class="form-control" />

    <input placeholder="Password" asp-for="Password" class="form-control" />

    <input class="btn btn-dark text-light" value="Sign in" type="submit">
</form>
<div asp-validation-summary="All" class="text-danger" style="position: absolute;"></div>

