@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<my_movies.ViewModels.ModifyMoviesModel>
@{
    Layout = "_Layout";
}

<div class="container">
    <a class="btn btn-dark text-light" style="margin: 20px" asp-controller="Home" asp-action="CreateMovie">Add movie</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    @if (movie.IsApproved)
                    {
                        <td>Approved</td>
                    }
                    else
                    {
                        <td>Pending for approval</td>
                    }
                    @if (User.FindFirst("Role").Value == "admin" || User.FindFirst("Role").Value == "sub-admin")
                    {
                        <td>
                            <a asp-controller="Home" asp-action="EditMovie" asp-route-id="@movie.Id">Edit</a>
                            @if (User.FindFirst("Role").Value == "admin")
                            {
                                <span> | </span><a asp-controller="Home" asp-action="DeleteMovie" asp-route-id="@movie.Id">Delete</a>
                            }
                        </td>
                    }
                    else
                    {
                        <td>
                            <span>Not allowed</span>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

