body{
    background-color: black;
    color: whitesmoke;
}
table{
    color: whitesmoke !important;
}
#movieDetailsImageContainer{
    width: inherit;
}
#movieDetailsImageContainer img{
    height: 100%;
}
#movieDetailsInfoContainer{
    text-align: end;
}
#layoutHeader {
    width: 40%;
    margin: auto;
    padding: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
}
.dropdown-menu{
    background: rgba(0, 0, 0, 0.9) !important;
}
.dropdown-item{
    color: whitesmoke;
}
.dropdown-item:hover{
    color: black !important;
}
.approveBtnContainer {
    width: 100%;
    display: grid;
    margin-top: 10px;
}
.approveBtnContainer a {
    margin-bottom: 5px;
    text-align: center;
}
.cardText{
    height: 50px;
    overflow: hidden;
}
.cardBtn{
    margin-top: 12px;
}
.homeContainer {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.cardCustom {
    margin: 10px
}
.formContainer input {
    width: 30%;
    margin: auto;
    margin-top: 20px;
}
.formContainer {
    width: 90%;
    margin: auto;
    text-align: center;
}
.registerMessageContainer{
    width: 80%;
    margin: auto;
    text-align: center;
}
.userDetailsContainer{
    padding: 20px;
}
.slickImgs{
    width: 100px;
}
.autoplay{
    width: 100%;
    height: 300px;
}
.imgContainer{
    /*width: 200px !important;*/
    height: auto !important;
    margin: 20px;
    text-align: center;
}
.multiple-items {
    width: 90% !important;
    margin: auto !important;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
